.container {
    min-width: 350px;
    max-width: 700px;

    form {
        display: flex;
        flex-direction: column;

    }
    mat-label{
        color: black;
    }
    input{
        padding: 10px; 
    }

    mat-select {
        background-color: #f5f5f5;
        padding: 10px;
    }

    padding: 20px;

    .buttons {
        text-align: right;

        button {
            margin-left: 10px;
        }
    }

    .datePicker {
        display: flex;
        flex-direction: row;
    }
}